body {
    background: white
}

.box {
    background-color:#3F48CC;
    color:white;
    font-weight:bold;
    height:150px;
    width: 150px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -75px;
    margin-right: -75px
}