.row {
    background: white;
    border-radius: 10px;
}

.loginBtn {
    background-image: linear-gradient(to bottom right, #5401D6, #7214FF);
    font-family: "Inter", sans-serif;
    font-weight: bold;
    cursor: pointer;
}
